<div id="main" role="main">

  <div class="sidebar sticky">

    <div itemscope itemtype="https://schema.org/Person" class="h-card">

      <div class="author__avatar">
        <a href="https://microbitcoder652.github.io/">
          <img src="/assets/images/robot.jpg" alt="Arya Sharma" itemprop="image" class="u-photo">
        </a>
      </div>

      <div class="author__content">
        <h3 class="author__name p-name" itemprop="name">
          <a class="u-url" rel="me" href="https://microbitcoder652.github.io/" itemprop="url">
            Arya Sharma
          </a>
        </h3>

        <div class="author__bio p-note" itemprop="description">
          <p>I love <em>coding</em> and <em>playing games</em>.</p>
        </div>
      </div>

      <ul class="author__urls social-icons">

        <li itemprop="homeLocation" itemscope itemtype="https://schema.org/Place">
          <i class="fas fa-fw fa-location-dot" aria-hidden="true"></i>
          <span itemprop="name" class="p-locality">Scarborough, ON</span>
        </li>

        <li>
          <a href="mailto:arya.sharma2421@gmail.com"
             rel="nofollow noopener noreferrer me"
             itemprop="sameAs">
            <i class="fas fa-fw fa-envelope" aria-hidden="true"></i>
            <span class="label">Email</span>
          </a>
        </li>

        <li>
          <a href="https://github.com/microbitcoder652"
             rel="nofollow noopener noreferrer me"
             itemprop="sameAs">
            <i class="fab fa-fw fa-github" aria-hidden="true"></i>
            <span class="label">GitHub</span>
          </a>
        </li>

      </ul>

    </div>

  </div>

</div>
