<!-- Giscus Comments Embed -->
<div id="giscus-comments"></div>
<script src="https://giscus.app/client.js"
        data-repo="microbitcoder652/microbitcoder652.github.io"
        data-repo-id="R_kgDOQFEz2Q"
        data-category-id="DIC_kwDOQFEz2c4CxxfF"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="dark"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>

