<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="google-site-verification" content="MAWwgasCw3Iml0Db8EuyKc6cow_bU-wwvLxVtReG9fU" />

  <meta name="msvalidate.01" content="1E8140AF75C7076B73F616579B8B2D76" />

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

  <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
  <link rel="shortcut icon" href="/favicon/favicon.ico" />
  <link rel="manifest" href="/favicon/site.webmanifest" />

  {% if site.head_scripts %}
    {% for script in site.head_scripts %}
      <script src="{{ script | relative_url }}"></script>
    {% endfor %}
  {% endif %}

  <script src="https://kit.fontawesome.com/bd882c8385.js" crossorigin="anonymous"></script>

</head>

