<meta name="author" content="Arya Sharma">

<meta property="og:type" content="website">
<meta property="og:locale" content="en">
<meta property="og:site_name" content="Arya's Coding World">
<meta property="og:title" content="About Me">
<meta property="og:url" content="https://microbitcoder652.github.io/about/">

<link rel="canonical" href="https://microbitcoder652.github.io/about/">

<meta name="google-site-verification" content="MAWwgasCw3Iml0Db8EuyKc6cow_bU-wwvLxVtReG9fU" />

<meta name="bing_site_verification" content="1E8140AF75C7076B73F616579B8B2D76">
