---
layout: default
---

<div class="page" itemscope itemtype="https://schema.org/CreativeWork">

  {% if page.title %}
    <header>
      <h1 id="page-title" class="page__title" itemprop="headline">
        {{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}
      </h1>
    </header>
  {% endif %}

  <div class="page__inner-wrap">

    {% if page.author_profile %}
      <aside class="sidebar">
        {% include author-profile.html %}
      </aside>
    {% endif %}

    <section class="page__content" itemprop="text">
      {{ content }}
    </section>

    {% if page.comments %}
      <div class="page__comments">
        {% include comments.html %}
      </div>
    {% endif %}

  </div>
</div>
